// Alert colors
$danger: #f44336;
$warning: #cf8f2c;
$success: #529f64;

// Colormind.io colors
$light-shade: #eef2f4;
$light-accent: #5aa1e4;
$main-brand: #607b93;
$dark-accent: #786f80;
$dark-shade: #23272a;

// Bootstrap theme colors
$bs-primary: $main-brand;
$bs-secondary: $light-accent;
$bs-success: $success;
$bs-warning: $warning;
$bs-danger: $danger;
$bs-dark: $dark-shade;
$bs-light: $light-shade;

/* Form colors */
$form-field: #ffffff;
